<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flights</title>
</head>
<body>

    <h2>Enter Flights information</h2>
    <form action="/flights" method="POST">
        <label>Airline:
          <input type="text" name="airline">
        </label><br>
        <label>Flight Number:
          <input type="text" name="flightNo">
        </label><br>
        <label>Depart time:
          <input type="text" name="cast">
        </label><br>
        <input type="submit" value="Add Flight">
    </form>

    
</body>
</html>