<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <ul> 
        <li> <%= flight.airline %> </li>
        <li> <%= flight.flightNo %> </li> 
        <li> <%= flight.departs %> </li> 
        <li> <%= flight.airport %> </li> 
        </ul>
        <form action="">
            <label>Destination:
                <input type="text" name="airport">
              </label><br>
              <label>Arrival time:
                <input type="text" name="arrival">
              </label><br>
              <button>Add Details</button>
              <!-- flights -->
        </form>
</body>
</html>